html {
	box-sizing: border-box;
	font: 400 1em 'Cabin', sans-serif;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $sky;
	height: 100%;
}
main {
	height: 100%;
	display: flex;
	flex-flow: row nowrap;
	align-items: stretch;
}