.footer {
	@extend .footer--theme1;
	padding: 0.8em 0;
	text-align: center;
	span {
		display: block;
		margin: auto;
	}
}
.footer--theme1 {
	background-color: rgba($gold, 0.8);
	border-top: 1px solid $gold;
	font: 400 em(12px) 'Cabin', sans-serif;
}