header {
	@extend .header-theme1;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	h1 {
		margin: 0.48em 1em;
	}
}

.header-theme1 {
	background-color: rgba($white, 0.9);
	box-shadow: 0 -2px 11px darken($sky, 20%);
	h1 {
		font: 700 1.1em 'Cabin Sketch', sans-serif;
		color: $coral;
	}
}