//variables
$browser-context: 16px;

// $white: #fbf9f4;
$white: #fff;
$black: #000;
$sky: #7edbd4;
$coral: #F7323F;
$gold: #e9be33;
// $aqua: #2d515b;
$aqua: #3CAB88;

//mixins
@mixin clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}
@mixin transition($el) {
	transition: $el 0.18s ease-in-out;
}

@mixin section($basis, $grow) {
	flex-basis: $basis;
	flex-grow: $grow;
	// padding-top: 3.6em;
	display: flex;
	align-items: center;
}

//functions
@function em($px, $context: $browser-context) {
	@if ( unitless($px) ) { $px: $px * 1px; }
	@if ( unitless($context) ) { $context: $context * 1px; }
	@return $px / $context * 1em;
}

//classes
.is-hidden {
	display: none;
}