//variables
$browser-context: 16px;

$white: #fff;
$black: #000;
$sky: #7edbd4;
$coral: #F7323F;
$gold: #e9be33;
$aqua: #70b9a0;

//mixins
@mixin clearfix {
	&:after {
		visibility: hidden;
		display: block;
		font-size: 0;
		content: " ";
		clear: both;
		height: 0;
	}
}

//functions
@function em($px, $context: $browser-context) {
	@if ( unitless($px) ) { $px: $px * 1px; }
	@if ( unitless($context) ) { $context: $context * 1px; }
	@return $px / $context * 1em;
}